<!DOCTYPE HTML>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>

    <title>Новое входящее обращение</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/appeal.css}"/>
</head>
<div class="tab">
    <a href="/appealHome" class="backLink" style="color: #000 !important; text-decoration: none">
        <div class="backButton">⟵</div>
    </a>
    <div id="tabBlocks">

    </div>

</div>

<body>
<!--/*@thymesVar id="message" type="com"*/-->

<div class="container-fluid">
    <h3>Новое входящее обращение</h3>
    <div class="row">

        <div class="col-5" style="border-block-end-color: ivory">


            <!--/*@thymesVar id="customerList" type="com"*/-->
            <form enctype="multipart/form-data" th:action="@{/appeal/appalAdd} " method="post">
                <label for=>Краткое описание:</label>
                <div class="row">

                    <div class="col">
                        <input type="text" name="briefDescription" class="form-control    "
                               placeholder="Краткое описание "
                               required maxlength="75" data-toggle="tooltip" data-placement="top"
                               title="Описание не должно превышать 75 символов.">

                    </div>


                </div>
                <div>
                    <label for=>Основание:</label>

                    <select class="custom-select" name="footing" required>
                        <option th:each="footing : ${footings}"
                                th:value="${footing.id}"
                                th:text="${footing.footing}"></option>
                    </select>

                </div>

                <div>
                    <label for=>Введите текст:</label>
                    <br><textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="23"
                                  required></textarea>
                </div>

        </div>
        <div class="col-4" style="border-block-end-color: ivory">
            <div class="form-group">
                <label for=>Дата закрытия:</label>
                <input type="date" id="datepicker" class="form-control" name="dataAnswer" placeholder="Дата" required>


                <label for=>Исполнители:</label>
                <select class="form-control" name="executor" id="executor" required>
                    <option value="" disabled selected>Выберите из списка</option>
                    <!--/*@thymesVar id="users" type="com"*/-->
                    <option th:each="user : ${user}"
                            th:value="${user.id}"
                            th:text="${user.lastName +'  '+ user.name +' ' + user.firstName }"></option>
                </select>
                <!--/*@thymesVar id="user" type="com"*/-->
                <label for=>Контролёр:</label>
                <div class="form-group blu-margin">
                    <select class="form-control" name="controller" id="controller" required>
                        <option value="" disabled selected>Выберите из списка</option>
                        <!--/*@thymesVar id="users" type="com"*/-->
                        <option th:each="user : ${user}"
                                th:value="${user.id}"
                                th:text="${user.lastName +' '+ user.name + ' ' + user.firstName  }"></option>
                    </select>
                </div>
                <label for=>Статус:</label>
                <select class="custom-select" name="status" required>
                    <option th:each="status : ${appealStatusList} "
                            th:value="${status.id }"
                            th:text="${status.status}"></option>
                </select>

                <h3> Информация о клиенте </h3>
                <div class="form-group blu-margin">
                    <label for=>Организация:</label>
                    <select class="form-control" name="nameCompany" id="nameCompany" required>
                        <option th:value="${user.id }"
                                th:each="user : ${customerList}"
                                th:text="${user.fullNameCompany } "></option>
                    </select>

                </div>


                <label for=>Сотрудник, от которого поступило обращение:</label>
                <div class="input-group">

                    <div class="input-group-prepend">

                        <span class="input-group-text" id="">ФИО</span>
                    </div>
                    <input type="text" class="form-control" name="surname" required>

                </div>


                <div class="form-group">
                    <label>Телефон:</label>
                    <!--/*@thymesVar id="error" type="com"*/-->
                    <input type="number" class="form-control" id="nam" name="address" placeholder="+7 (000) 000-00-00"
                           required>
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Адрес:</label>
                    <input type="text" class="form-control " name="tel" id="inputAddress2"
                    >
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email:</label>
                        <input style="font-size: 12px" type="email" class="form-control" name="emailAddress"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp">

                    </div>
                    <div class="col-md-4 col-md-offset-4 ">

                        <label for="inputAddress2"></label>


                        <input style="display: none" type="text" class="form-control" name="authorUpdate">
                        <div id="img-container">




                            <a href="#" id="fileSelect">Прикрепить файлы</a>
                            <input type="file" name="file" id="fileElem" multiple  style="display:none">





                            <div>

                                <div class="overflow" id="fileList">


                                </div>
                            </div><br>


                        </div>
                        <button type="submit" href="/appealHome" class="btn btn-success">Сохранить</button>
                        </form>

                    </div>



                </div>
            </div>
        </div>
    </div>




    <div>


    </div>

</div>


</div>


</div>


<div class="col-4" style="border-block-end-color: ivory">


</div>

</div>


</form>


</div>


<script th:src="@{/js/appeal.js}">



</script>

</body>
</html>
