<!DOCTYPE html>
<html lang="ru">
<html  xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/hello.css}"/>
<head>
    <title>Новости компании </title>
</head>
<body>
<div class="container-fluid">


    <div class="row">

        <div class="col-1" style="border-block-end-color: ivory">
            <div class="col-1" style="border-block-end-color: ivory">

                <div>

                </div>
                <div class="sidenav ">
                    <a class="data-placement= top"
                       title="Профиль" href="/user-profile"><svg class="bi bi-person-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg></a><br>


<!--                  <a href="/blogadd">Добавить новость</a>-->
<!--                    <a href="/manufacture">Производство</a>-->
<!--                    <a href="/customer">Коммерческий отдел</a>-->
                    <a class="data-placement= top"
                       title="Входящие обращения" href="/appealHome"><svg class="bi bi-card-text" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                    </svg></a><br>

                    <a class="data-placement= top"
                    title="Список пользователей" href="/user"><svg class="bi bi-person-lines-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                    </svg></a><br>

                    <ul class="nav navbar-nav navbar-right">

                        <li><a class="data-placement= top"
                            title="Выйти" href="/login"><span class="glyphicon glyphicon-log-in"></span><svg class="bi bi-door-closed-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg></a></li>
                    </ul>
<!--                    <a href="/svg">Служба ввода и гарантии</a>-->
<!--                    <a href="/otc">Отдел контроля качества</a>-->
<!--                    <a href="/repairs">Ремонт и сервисное обслуживание</a>-->
<!--                    <a href="/software">Отдел разработки программного обеспечения</a>-->
<!--                    <a href="/mechanic">Отдел конструирования механических компонентов</a>-->
<!--                    <a href="/electronic">Отдел конструирования электронных компонентов</a>-->

                </div>


            </div>
        </div>

        <div class="col-11" style="border-block-end-color: ivory">


            <div class="container mt- 5" th:switch="${appeal}">

                <div>
                    <h1>Новости Компании</h1>
                </div>

                <div th:each="user : ${appeal}" class="alert alert-info mt-2">
                    <h4 th:text="${user.text}"></h4>
                    <p th:text="${user.title}"></p>

                    <a th:href="@{blog/{id}(id=${user.id})}">Редактировать</a>
                    <a th:href="@{blog-delete/{id}(id=${user.id})}">Удалить</a>
                </div>


            </div>
        </div>
    </div>
</div>

</body>
</html>
