<!DOCTYPE html>
<html lang="ru">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Registration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4" style="border-block-end-color: ivory" ></div>
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="glyphicon glyphicon-user" style="font-size:2em;"></i></h3>
                        <h2 class="text-center">Регистрация</h2>
                        <div class="panel-body">

<!--                            <div th:if="${message}">-->
<!--                                <div class="alert alert-danger">-->
<!--                                    Такой пользователь существует-->
<!--                                </div>-->
<!--                            </div>-->
            <form  th:action="@{/registration}" method="post">


                <lebel>Логин:</lebel>
                    <input type="text" name="username" class="form-control" placeholder="Логин" required />

                <div>
                    <lebel>Пароль:</lebel>
                   <input type="password"  name="password"  class="form-control"  placeholder="Пароль" required minlength="8"/>

                </div>

                <div>
                    <lebel>Фамилия:</lebel>
                    <input type="text" name="lastName" class="form-control" placeholder="Фамилия" required/>

                </div>
                <div>
                    <lebel>Имя:</lebel>
                     <input type="text" name="name" class="form-control" placeholder="Имя" required />

                </div>
                <div>
                    <lebel>Отчество:</lebel>
                  <input type="text" name="firstName" class="form-control" placeholder=" Отчество"/>

                </div>
                <div>
                    <lebel>email:</lebel>
                   <input type="email" name="email" class="form-control" placeholder="email@.com" required/>

                </div><br>
                <div>
                    <!--/*@thymesVar id="login" type="com"*/-->

                    <input type="submit" th:href="${login}" value="Зарегистрироваться"class="btn btn-success btn-block"/>
                </div>

            </form>


        </div>


                        <div class="row">
                            <div class="col-md-12">
                                Уже зарегистрированы? <a href="/" th:href="@{/login}">Логин</a>
                            </div>
                            <div class="col-md-12">
                                Забыли пароль? <a href="/" th:href="@{/forgot-password}">Сбросить пароль</a>
                            </div>


</body>
</html>
