<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>

<body>


 <div class="container " id="app" >

     <form class="form-inline my-2 my-lg-0">
         <input class="form-control" type="text" placeholder="Поиск"name="search" onkeyup="tableSearch()">

     </form>

     <label>Компания:</label>
     <select class="form-control" >
         <option th:each="user : ${customerListName}"
                 th:value="${user.id }"
                 th:text="${user.fullNameCompany } "></option>
     </select>
 </div>

 <script th:src="@{/vue/vue.min.js}"></script>
</body>

</html>
