<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/user-update.css}"/>
<title>Create user</title>
</head>
<body>
<div class="tab">
    <a href="/hello" class="backLink" style="color: #000 !important; text-decoration: none">
        <div class="backButton">⟵</div>
    </a>
    <div id="tabBlocks">

    </div>

</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-3" style="border-block-end-color: ivory"></div>
        <div class="form-group col-5" mt-5 style="border-block-end-color: ivory">
            <form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
                <label for="id">ID:</label>
                <input readonly type="number" th:field="*{id}" id="id" placeholder="ID" class="form-control"><br>

                <label for="id">Логин:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="username" class="form-control"><br>

                <label for="lastName">Фамилия:</label>
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"
                       class="form-control"><br>
                <label for="name">Имя:</label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control"><br>

                <label for="firstName">Отчество:</label>
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name" class="form-control"><br>


                <label for="email">Email:</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Email" class="form-control"><br>
                <label for="firstName">Права входящее обращение:</label>

                <div class="form-check">
                    <input th:field="*{roles}" th:value="${'USER_READING'}" type="checkbox"
                           class="form-check-input">
                    <label class="form-check-label">
                        Просматривать входящие обращение
                    </label>
                </div>

                <div class="form-check">
                    <input th:field="*{roles}" th:value="${'APPEAL_CREATE'}" class="form-check-input"
                           type="checkbox">
                    <label class="form-check-label">
                        Создавать входящее обращение
                    </label><br>
                </div><br>
                <label for="firstName">Права администратора:</label>
                <div class="form-check">
                    <input th:field="*{roles}" th:value="${'ADMIN'}" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                        Редактировать роли пользователей


                    </label>

                </div><br>
                <label for="firstName">Доступ на сайт:</label>
                <div class="form-check">
                    <input th:field="*{active}" type="checkbox" class="form-check-input">
                    <label class="form-check-label">
                       Пользователь активен

                    </label>


                </div>
                <br>


                <input style="display: none" readonly type="text" th:field="*{password}" id="password"
                       placeholder="Password"
                       class="form-control"><br>
                <div>
                    <button type="submit" href="/user" class="btn btn-success">Сохранить</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>