<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/user.css}"/>
<head>
    <title>Список пользователей </title>
</head>
<body>
<div class="tab">
    <a href="/hello" class="backLink" style="color: #000 !important; text-decoration: none">
        <div class="backButton">⟵</div>
    </a>
    <div id="tabBlocks">

    </div>

</div>

<div class="container-fluid">

    <div class="row">

    </div>

    <div class="col-17" style="border-block-end-color: ivory">


        <div th:switch="${user}">


            <table id="myTable">
                <thead>
                <tr>
                    <th onclick="sortTable(0)">ID</th>
                    <th onclick="sortTable(1)">Имя</th>
                    <th onclick="sortTable(2)">Фамилия</th>
                    <th onclick="sortTable(2)">Редактировать</th>
                    <th onclick="sortTable(2)">Удалить</th>


                </tr>
                </thead>
                <tbody>

                <tr th:each="user : ${user}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td><a th:href="@{user-update/{id}(id=${user.id})}">Редактировать</a></td>
                    <td><a th:href="@{user-delete/{id}(id=${user.id})}">Удалить</a></td>

                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
</div>

</body>
<script th:src="@{/js/user.js}"></script>
</body>
</html>